In [2]:
import os
import pandas as pd

In [22]:
BASE_DIR = 'data'

# input
USERS_FILE = 'users.dat'
MOVIES_FILE = 'movies.dat'
RATINGS_FILE = 'ratings.dat'

# output
RATINGS_CSV = 'ratings.csv'
USERS_CSV = 'users.csv'
MOVIES_CSV = 'movies.csv'

## Rating data

In [4]:
ratings = pd.read_csv(os.path.join(BASE_DIR, RATING_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['userid', 'movieid', 'rating', 'timestamp'])

In [5]:
ratings.head()

   userid  movieid  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [6]:
max_userid = ratings['userid'].drop_duplicates().max()
max_movieid = ratings['movieid'].drop_duplicates().max()

In [7]:
max_userid, max_movieid

(6040, 3952)

In [8]:
len(ratings)

1000209

In [12]:
ratings.to_csv(os.path.join(BASE_DIR, RATING_CSV), header=True, columns=['userid', 'movieid', 'rating'])

## User data

In [14]:
users = pd.read_csv(os.path.join(BASE_DIR, USER_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['userid', 'gender', 'age', 'occupation', 'zipcode'])

In [15]:
users.head()

   userid gender  age  occupation zipcode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [19]:
users = pd.read_csv(os.path.join(BASE_DIR, USER_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['userid', 'gender', 'age', 'occupation', 'zipcode'])

#users['age_desc'] = users['age'].apply(lambda x: AGES[x])
#users['occ_desc'] = users['occupation'].apply(lambda x: OCCUPATIONS[x])
#print(len(users), 'descriptions of', max_userid, 'users loaded.')
#users['user_emb_id'] = users['userid'] - 1
users.to_csv(os.path.join(BASE_DIR, USER_CSV), 
             header=True, 
             columns=['userid', 'gender', 'age', 'occupation', 'zipcode'])

## Movie data

In [23]:
movies = pd.read_csv(os.path.join(BASE_DIR, MOVIES_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['movieid', 'title', 'genre'])

In [24]:
movies.head()

   movieid                               title                         genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [25]:
movies.to_csv(os.path.join(BASE_DIR, MOVIES_CSV), columns=['movieid', 'title', 'genre'])